* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Quicksand, sans-serif;
  }
   /* apply styles to <header> */
  nav {
    background-color:#52729F;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{ 
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  nav a:hover{
    color: #082D49;
  }
  nav li:first-child{
    margin-right: auto;
    font-size: 28px;
  }
  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(82, 114, 159, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display:none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }

  
  
  a {
    text-decoration: none;
    color: #082D49;
  }
  
  

    /* MAIN CONTENT OF WEBPAGE STARTS HERE */
    
    /* Hero Style Start */
    .intro {
      height: 10px;
      position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-left: 250px;
      padding-right: 150px;
      padding-top: 100px;
      color: #ffffff;
      text-align: justify;
    }
  
    .intro img {
      border-radius: 0%;
      float: left;
      margin-right: 10px;
      margin-bottom: 100px;
      padding-left: 10px;
      padding-top: 100px;
    }
    
    p {
      font-family: Quicksand, monospace;
      font-weight: normal;
      font-size: 16px;
      color: white;
      margin: 25px; 
    }
    
    
    .intro p {
      font-family: Quicksand, monospace;
      line-height: 1.7;
      color: #ffffff;
      width: 80%;
      font-weight: lighter;
      font-size: 16px;
      margin: 100 100;
      text-align: justify;
    }
  
    /* Hero Style end */
  
  /* <uniquifier>: Use a unique and descriptive class name
     <weight>: Use a value from 100 to 900 */
  
  h2 {
    font-family: Quicksand, sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    color: #ffffff;
  
  }
  
  .section-title h2 {
    font-family: Quicksand, monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .section-title p {
    font-family: Quicksand, monospace;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
  }
    .blog-posts {
      text-align: center;
      color: #ffffff;
    }
    
    .blog-post {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 10px;
      margin-right: 0px;
      margin-left: 0px;
      background: #52729F;
      overflow: auto;
    }
    
    .blog-post img {
      height: 300px;
      width: 40%;
      float: left;
    }
    
    .blog {
      padding: 45px;
      float: left;
      width: 60%;
      text-align: left;
    
    }
    
    .blog h3 {
      font-weight: bold;
      font-family: Quicksand, arial, monospace;
      font-size: 32px;
      margin-bottom: 8px;
    }
    
    .blog h4 {
      font-weight: lighter;
      font-size: 24px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    
    .blog p {
      font-family: Quicksand, monospace;
      font-weight: lighter;
      font-size: 16px;
      line-height: 1.3;
    }
    
  
